.header {
    min-height: 1080px;
    background-image: url('./../img/main-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}


.header__list-link {
    color: #145;
    font-size: 20px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 1.8; 
}

.arrow-black {
    color: #145;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: 1.8;

    border-radius: 2px;
    padding: 10px 24px;
    border: 1px solid var(--teal, #145);

}

.arrow-right {
    position: relative;
    left: 5px;
    top: 10px;
    transition: transform 0.2s ease-in;
}

.arrow-black:hover .arrow-right {
    transform: translateX(3px);
}

.arrow-black:active {
    transform: translateY(1px);
}

/* HEADER CONTENT */
.header__content {
    padding-top: 126px;
}

.header__content--title {
    color: #145;
    max-width: 734px;
    margin-bottom: 48px;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__content--text {
    color: var(--dark-grey, #1F1F1F);
    margin-bottom: 72px;
    max-width: 1060px;
    font-family: Work Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.68px;
}

.header__content--btn {
    padding: 14px 32px;
    width: 197px;
    border-radius: 2px;
    border: 1px solid var(--teal, #145);
    background: #145;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.arrow-right-white {
    position: relative;
    left: 14px;
    top: 10px;
    transition: transform 0.2s ease-in;
}

.header__content--btn:hover .arrow-right-white {
    transform: translateX(3px);
}

.header__content--btn:active {
    transform: translateY(1px);
}

.down {
    padding-top: 259px;
}

.arrow-paragraf {
    margin: 0 auto;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.2s ;
}

.arrow-paragraf:hover {
    transform: translateY(2px);
}

.btn__burger {
    display: none;
}

/* HEADER CONTENT MOBILE */
.header__content--mobile {
    text-align: center;
    padding-top: 150px;
}

.header__content--mobile-img {
    margin-bottom: 27px;
}

.logo__mobile {
}

.header__content--text p {
    color: var(--dark-grey, #1F1F1F);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.96px;
    margin: 0 auto;
    width: 237px;
}


.header__content--mobile {
    display: none;
}


@media (max-width: 746px) {

    .header__content--title {
        font-size: 45px;
        margin-bottom: 32px;

    }
}

@media (max-width: 729px) {

    .header__list {
        display: none;
    }

    .btn__burger {
        display: block;
    }

    .header__content {
        padding-top: 70px;
    }
}


@media (max-width: 430px) {

    .header__content--text {
        font-size: 27px;
        margin-bottom: 53px;

    }

    .header__content--btn {
        padding: 6px 36px;
    }
}

@media (max-width: 380px) {
    .header {
        min-height: 903px;
        background-image: url('./../img/mobile-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .logo__img {
        max-width: 109px;
        max-height: 20px;
    }

    .header__content {
        display: none;
    }

    .header__content--mobile {
        display: block;
    }

    .arrow-paragraf {
        width: 39px;
        height: 33px;
    }

    .down {
        padding-top: 421px;
    }
    
}